<h1>Add A New Animal:</h1>

<form action="/animals" method="post">

  <label for="name">Name:</label>
  <input id="name" name="name" type="text">

  <label for="gender">Gender:</label>
  <input id="gender" name="gender" type="text">

  <label for="date">Admittance Date:</label>
  <input id="date" name="date" type="text">

  <label for="type">Type:</label>
  <input id="type" name="type" type="text">

  <label for="breed">Breed:</label>
  <input id="breed" name="breed" type="text">

  <label for="customer_id"></label>
  <input id="customer_id" name="customer_id" type="hidden">

  <button type="submit">Add Animal</button>
</form>

<div class="container">
  <a href="/">Home</a>
</div>
