<h1>Add A New Customer:</h1>

<form action="/customers" method="post">

  <label for="name">Name:</label>
  <input id="name" name="name" type="text">

  <label for="phone">Phone:</label>
  <input id="phone" name="phone" type="text">

  <label for="type_preference">Type Preference:</label>
  <input id="type_preference" name="type_preference" type="text">

  <label for="breed_preference">Breed Preference:</label>
  <input id="breed_preference" name="breed_preference" type="text">

  <label for="id"></label>
  <input id="id" name="id" type="hidden">

  <button type="submit">Add Customer</button>
</form>

<div class="container">
  <a href="/">Home</a>
</div>
