<h1>Welcome to the Animal Shelter</h1>

<div class="container">
  <a href="/animals">View All Animals</a>
  <br>
  <a href="/customers">View All Customers</a>
  <br>
  <a href="/animals/new">Add New Animal</a>
  <br>
  <a href="/customers/new">Add New Customer</a>
</div>
